<div ng-repeat="station in stations" class="list card">
	<ion-item class="item-avatar">
		<img src="{{ station.avatar }}">
	    <h2>{{ station.stationName }}</h2>
	    <p>{{ station.subStationName }}</p>
	</ion-item>
	<ion-item class="item-body">
		<img class="full-image" src="{{ station.coverImage }}">
		<p>{{ station.stationDescription }}</p>
	</ion-item>

	<audio-player station-id="$index"></audio-player>

	<ion-item class="assertive item-icon-right" href="{{ station.facebookUrl }}">
		<i class="icon ion-social-facebook"></i>
		Facebook
	</ion-item>
	<ion-item class="assertive item-icon-right" href="/#/station/{{ $index }}">
		<i class="icon ion-ios-chatboxes"></i>
		Mandar Saludos
	</ion-item>
</div>



