<div ng-if="provider === 'email'" class="list list-inset">
	<ion-item class="item-body assertive" ng-show="error.message">{{ error.message }}</ion-item>
	<label class="item item-input">
		<input ng-model="user.email" type="text" placeholder="Email">
	</label>
	<label class="item item-input">
		<input ng-model="user.password" type="password" placeholder="Clave">
	</label>
	<button ng-click="signup(user)" class="button button-block button-dark">
		Someter
	</button>
</div>

<div ng-if="provider === 'google'"  class="list list-inset">
	<button ng-click="googleSignup()" class="button button-block button-dark">
		Acceder Cuenta de Google
	</button>
</div>

<div ng-if="provider === 'sonidero'"  class="list card">
	<ion-item class="item-body assertive" ng-show="error.message">{{ error.message }}</ion-item>
	<div class="item item-body">
		<label class="item-input">
			<input ng-model="currentUser.email" type="text" placeholder="Email">
		</label>
	</div>
	<div class="item item-body">
		<label class="item-input">
			<input ng-model="currentUser.password" type="password" placeholder="Clave">
		</label>
	</div>
	<div class="item item-body">
		<label class="item-input">
			<input ng-model="currentUser.stationName" type="text" placeholder="Nombre de Sonidero o DJ">
		</label>
	</div>
	<div class="item item-body">
		<button ng-click="sonideroSignup(currentUser)" class="button button-block button-balanced">
			Someter
		</button>
	</div>
</div>