/* Empty. Add your own CSS if you like */
.spinner {
	stroke: #444;
	fill: #444;
	position: absolute;
	align-items: center;
	left: 75px;
	top: 0;
	height: 100%;
	display: flex;
}

.spinner-nav-bar.spinner.spinner-lines {
	left: -1pc;
}